:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #5bcefa 50.12%, #f5a9b8 50%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #5bcefa 50.12%, #f5a9b8 50%);
  --vp-home-hero-image-filter: blur(150px);
  /* brand按钮 */
  --vp-button-brand-border: #f5a9b8;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-bg: #f5a9b8;

  --vp-button-brand-hover-border: linear-gradient( 135deg, #5bcefa 50.12%, #f5a9b8 50%);
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: linear-gradient( 135deg, #5bcefa 50.12%, #f5a9b8 50%);

  --vp-button-brand-active-border: linear-gradient( 135deg, #5bcefa 50.12%, #f5a9b8 50%);
  --vp-c-brand-1: #f5a9b8;
  --vp-c-brand-2: #f5a9b8;
}
